/* RESET */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* COMMON */

.container{
    max-width: 1200px;
    margin: auto;
}
body{
    font-family: 'Aleo', serif;
}

/* BUTTON */
.btn{
    /* background-color: yellow; */
    height: 30px;
    text-align: center;
    line-height: 10px;
    border-radius: 15px;
    border: 0px;
    padding: 8px;
}
a{
    text-decoration: none;
    color: white;
}

/* DEBUG */

.debug header{
    background-color: #add8e6;
}
.debug .header-top{
    background-color: #daa520;
    border: 2px dashed black;
}

.debug .hero{
    background-color: #00008b;
}
.debug .col-one{
    background-color: #ee82ee;
    border: 2px dashed black;
}

.debug .row{
    height: 400px;
}
.debug .row-big{
    height: 800px;
}
/* .debug .col-big{
    background-color: #1e90ff;
    border: 2px dashed black;
}
.debug .col-small{
    background-color: #ffc0cb;
    border: 2px dashed black;
}
.debug .col-alone{
    background-color: #228b22;
    border: 2px dashed black;
} */

.debug footer{
    background-color: #23272a;
}
.debug .row-bigfoot{
    height: 500px;
}
.debug .row-bigfoot .col-big{
    background-color: #f08080;
}
.debug .row-bigfoot .col-small{
    background-color: #20b2aa;
}
.debug .row-smallfoot{
    background-color: #7fffd4;
}
.debug .row-smallfoot .logo{
    background-color: #ffb6c1;
    border: 2px dashed black;
}
.debug .row-smallfoot .button{
    background-color: #ffb6c1;
    border: 2px dashed black;
}

/* TIPOGRAPHY */

h1{
    font-size: 48px;
    padding: 0px 20px;
}
p{
    font-size: 22px;
    padding: 20px;
}
h2{
    font-size: 35px;
}
span{
    font-weight: bolder;
    font-size: larger;
}

/* HEADER */

header{
    padding: 15px 0px;
}
.header-top{
    display: flex;
    justify-content: space-between;
    height: 50px;
    align-items: center;
}
.login{
    display: flex;
    justify-content: flex-end;
}
.link{
    display: flex;
    justify-content: center;
}
.logo{
    display: flex;
}

/* HERO */

.row-one{
    display: flex;
    justify-content: center;
    height: 400px;
    padding: 35px 0px;
}
.col-one{
    width: 60%;
}

/* MAIN */

section{
    padding: 50px;
}
section:nth-child(even){
    background-color: #d3d3d3;
}
.row{
    display: flex;
    padding: 50px 0px;
}
.row-big{
    display: flex;
    padding: 50px 0px;
}
.col-big{
    width: 60%;
    display: flex;
    align-items: center;
}
.col-small{
    width: 40%;
    padding: 25px;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
}
.col-alone{
    width: 100%;
}
.paragrafo, .immagine, .go{
    text-align: center;
}
span{
    display: block;
}
.go .btn{
    background-color: #7289DA;
    margin-top: 30px;
}

/* FOOTER */

.row-bigfoot{
    display: flex;
    padding: 10px 0px;
}
.row-bigfoot .col-big{
width: 70%;
}
.row-bigfoot .col-small{
    width: 30%;
}
.row-smallfoot{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 50px;
        margin-top: 40px;
        border: 2px dashed black;
}